@font-face {
    font-family: 'TT Lakes';
    src: url("assets/fonts/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("assets/fonts/TTLakes-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("assets/fonts/TTLakes-Bold.ttf");
    font-weight: 700;
}

body {
    font-family: 'TT Lakes', sans-serif;
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}
a,button {
    text-decoration: none;
    cursor: pointer;
}

p,h1,ul,button{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.container{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.circle-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    background:#FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    transition: all linear.25s;
}
.circle-icon:hover {
    opacity: 0.75;
}


/* Лого + кнопки*/

.header {
    padding: 18px 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
}
.header__logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50.81px;
}
.header__sec {
    display: flex;
    gap: 16px;
}
.header__el,
.header__tablet-sec {
    display: flex;
    align-items: center;
}
.header__tablet-sec{
    gap: 16px;
}
.header__el:nth-child(2)::before {
    content: "";
    margin-top: 3px;
    height: 32px;
    border: 1px solid #EAEAEA;
    margin-right: 16px;
    border-radius: 1px;
}
.header__sec:nth-child(2) .header__el:nth-child(2)::before {
    content: "";
    margin-top: 4px;
    height: 32px;
    border: 1px solid #EAEAEA;
    margin-right: 16px;
    border-radius: 1px;
}

.header__el-tablet {
    display: flex;
    align-items: center;
}


/*Навигация */
/*Заголовок+ круглые кнопки*/

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu__sec-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 32px;
}
.menu__main-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;   
}
.menu__button-sec {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu__button-link {
    display: flex;
    align-items: center;
    gap: 8px;   
}
.menu__button-text{
    font-weight: 500;
    color: #1B1C21;
    font-size: 16px;
}
.menu__main-title::before {
    content: "";
    border: 2px solid #41F6D7;
    border-radius: 0 5px 5px 0;
    margin-right: 12px;
}


/*Навигация*/

.menu__sec {
    margin: 0;
    padding-left: 40px;
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow-x: auto;
    gap: 7px;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
}
.menu__sec::-webkit-scrollbar{
    display: none;
}


.menu__list-item {
    display: flex;
    white-space: nowrap;
}
.menu__link {
    transition: all linear.25s;
    color: #7E7E82;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid transparent;
    border-radius: 7px;
}
.menu__link:active,
.menu__link:hover {
    border-color:#B8FFEC;
    background-color: #fff;
    transform: scale(1.05);
}


/* Остаток header*/

.about-us {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    gap: 16px;
}

.about-us__elem{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.about-us__elem:first-child{
    flex-direction: column;
}
.about-us__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 85px;
    overflow: hidden;
}
.expand-btn{
    display: flex;
    align-items: center;
    margin-top: 14px;
}
.about-us__button {
    border: none;
    background-color: none; 
    background-color: #F8F8F8;
}
.about-us__button-text{
    display: flex;
    align-items: center;
    font-family: 'TT Lakes',sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 30px;
    color: #1B1C21;
}
.about-us__button::before {
    content: url("assets/img/expand.svg");
    padding-right: 16px;
}
.about-us__img{
    width: 100%;
    min-height: 176px;
}


@media(max-width:767px) {
    /*Шапка сайта*/

    .header__tablet-sec {
        display: none;
    }
    .header__sec:nth-child(1) .header__el:nth-child(2)::before {
        display: none;
    }


    /*Навигация*/

    .menu__button-sec {
        display: none;
    }


    /*О нас*/

    .about-us{
        padding: 0;
    }
    .about-us__elem{
        width: 100%;
    }
    .about-us__elem:first-child {
        padding: 0 16px;
        font-size: 14px;
        line-height: 18px;
    }
}
@media (min-width: 768px) and (max-width:1119px) {
    /*Навигация*/

    .menu__main-title::before {
        margin-right: 20px;
    }
    .menu__button-sec {
        display: none;
    }
    
    
    /*О нас*/

    .about-us{
        flex-wrap: nowrap;
        padding: 0 24px;
        gap: 48px;
    }
    .about-us__img {
        height: auto;
        border-radius: 5px;
    }
    .about-us__elem{
        width: 50%;
    }
    .about-us__text{
        height: 180px;
    }
}
@media(min-width:1120px) {
    /*Шапка сайта*/

    .header {
        display: none;
    }


    /*Навигация*/

    .menu__main-title::before {
        margin-right: 30px;
    }
    .menu {
        margin-top: 42px;
    }
    .menu__sec {
        justify-content: start;
        flex-wrap: wrap;
        overflow-x: visible;
        margin-bottom: -10px;
    }


    /*О нас*/

    .about-us__img {
        border-radius: 7px;
    }
    .about-us {
        flex-wrap: nowrap;
        margin-top: 26px;
        padding: 0 34px;
        gap: 36px;
    }
    .about-us__elem{
        width: 50%;
    }
    .about-us__text{
        height: 200px;
    }
    
}