@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-DemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: 'TT Lakes';
    src: url("fonts/TTLakes-Bold.ttf");
    font-weight: 900;
}

body {
    font-family: 'TT Lakes',sans-serif;
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
}
button{
    cursor: pointer;    
}
p {
    margin: 0;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.color-icon{
    background: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    Background-size: 20px 20px;
}
/* Лого + кнопки*/
.header-logo {
    padding: 18px 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
}
.header-logo__link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo__sec {
    display: flex;
}
.header-logo__el,
.header-logo__tablet-sec {
    display: flex;
    align-items: center;
    padding-right: 16px;
}
.logo-line::before {
    content: "";
    margin-top: 3px;
    height: 32px;
    border: 1px solid #EAEAEA;
    margin-right: 16px;
    border-radius: 1px;
}
.line::before {
    content: "";
    margin-top: 4px;
    height: 32px;
    border: 1px solid #EAEAEA;
    margin-right: 16px;
    border-radius: 1px;
}

.header-logo__el-tablet {
    display: flex;
    align-items: center;
    padding-right: 16px;
}
.header-logo__el-tablet:last-child {
    padding: 0;
}


/*Навигация */
/*Заголовок+ круглые кнопки*/
.menu__main-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 24px;
}
.menu__sec-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 32px;
}
.menu__button-sec {
    display: flex;
    align-items: center;
    gap: 16px;
}
.menu__button-link {
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #1B1C21;
    font-size: 16px;
    
}
.menu__button {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__main-title::before {
    content: "";
    border: 2px solid #41F6D7;
    border-radius: 0 5px 5px 0;
    margin-right: 12px;
}

/*Навигация*/
.menu__sec {
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    overflow-x: auto;
    min-height: 60px;
    gap: 25px;
}

/*Скрытие полосы прокрутки*/
.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
}
/**/

.menu__list-item {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
}
.menu__link {
    color: #7E7E82;
}
.menu__link--active:active,
.menu__link--active:hover {
    border: 2px solid #B8FFEC;
    background-color: #fff;
    border-radius: 7px;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Остаток header*/
.header-section {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-section__elem:first-child {
    width: 320px;
    padding: 0 16px;
    margin-bottom: 16px;
}

.header-section__img {
    width: 320px;
    height: 176px;
}
.header-section__button {
    font-family: 'TT Lakes',sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1B1C21;
    display: flex;
    align-items: center;
    border: none;
    background-color: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    background-color: #F8F8F8;
}
.header-section__button::before {
    content: url("ic/expand.svg");
    padding-right: 16px;
}


@media(max-width:767px) {
    .header-logo__tablet-sec {
        display: none;
    }
    .logo-line::before {
        display: none;
    }
    .text-hidden-m {
        display: none;
    }
    .header-section__elem br {
        display: none;
    }
    .menu__button-sec {
        display: none;
    }
    .header-section__elem:first-child {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (min-width: 768px) and (max-width:1119px) {
    .header-section__img {
        width: 360px;
        height: 208px;
        border-radius: 5px;
    }
    .text-hidden-t {
        display: none;
    }
    .menu__button-sec {
        display: none;
    }
}
@media(min-width:1120px) {
    .header-logo {
        display: none;
    }
    .header-section__img {
        width: 531px;
        height: 307px;
        border-radius: 7px;
    }
    .header-section {
        margin-top: 26px;
    }
    .header-section__elem:first-child {
        width: 500px;
    }
    .menu__main-title {
        margin-top: 42px;
    }
    .menu__sec {
        justify-content: center;
    }
}
