body{
    font-family: 'TT Lakes',sans-serif;
    font-weight: 500;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
}
.left-menu {
    box-sizing: border-box;
    width: 320px;
    min-height: 670px;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 32px;
    padding: 18px 16px 32px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 16px 0 52px 0 #0E185033, -2px 0 4px 0 #454F7E05;
}
.left-menu__top {
    display: flex;
    flex-direction: column;
    gap: 26px;
}


/* Верхние кнопки*/

.left-menu__header {
    display: flex;
    align-items: center;
}
/*Отступы лого*/
.left-menu__header .left-menu__header-el:nth-child(2) {
    margin-left: 17px;
    margin-right: 93px;
}
.left-menu__header-el{
    display: flex;
    align-items: center;
}
.left-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-menu__logo {
    height: 52px;
}


/*Навигация*/

.menu-nav__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-nav__link {
    display: inline-block;
    color: #1B1C21;
    transition: all linear.5s;
}
.menu-nav__link:active::before,
.menu-nav__link:hover::before {
    content: '';
    position: relative;
    left: -20px;
    height: 32px;
    border: 4px solid #41F6D7;
    border-radius: 10px;
    margin-right: -8px;
}
.menu-nav__link:active,
.menu-nav__link:hover {
    color: #7E7E82;
}


/*Низ меню*/
/*Отступы между списками внизу*/
.left-menu__bottom ul:nth-child(2){
    margin-top: 16px;
    margin-bottom: 8px;
}

.left-menu__button {
    display: flex;
    gap: 16px;
}

.left-menu__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.left-menu__contact-item:last-child{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.left-menu__contact-link{
    color: #1B1C21;
}
.left-menu__lang {
    display: flex;
    gap: 7px;
}
.left-menu__lang-link {
    color: #1B1C21;
}
.left-menu__lang-link:active,
.left-menu__lang-link:hover {
    color: #7E7E82;
}

@media (min-height:900px) {   
    .left-menu {
        padding: 18px 24px 32px;
    }
    .left-menu__top {
        gap: 50px;
    }


    /*header*/
    /*Отступы лого*/
    .left-menu__header .left-menu__header-el:nth-child(2) {
        margin-left: 17px;
        margin-right: 78px;
    }


    /*Навигация*/

    .menu-nav__list {
        gap: 32px;
    }
    .menu-nav__link:active::before,
    .menu-nav__link:hover::before {
        content: '';
        position: relative;
        left: -28px;
    }


    /*Отступы между списками внизу*/

    .left-menu__bottom ul:nth-child(2){
        margin-bottom: 40px;
    }
}
